<section id="widget-grid" class="">
	<div class="row">
		<div class="col-sm-6 col-lg-6" ng-repeat="planeacion in pg.planeaciones">
			<div class="panel panel-default">
				<div class="panel-body status">
					<div class="who clearfix">
						<img src="{{pg.tieneFoto(pg.maestro.profile.sexo, pg.maestro.profile.fotografia)}}" alt="img" class="online">
						<span class="name"><b>{{pg.maestro.nombre}} {{pg.maestro.apPaterno}}</b> planeó la clase</span>
						<span class="from"><b>{{pg.hora(planeacion.fechaCreacion)}}</b> {{pg.materia.nombre}}</span>
					</div>
					<div class="text">
						<div class="row">
							<div class="col-xs-2">
								<ul class="vertical-bars">
									<li>
										<div class="progress vertical bottom" style="height: 493px;">
											<div class="progress-bar bg-color-teal" aria-valuetransitiongoal="{{(planeacion.meGusta / pg.grupo.alumnos.length)*100 | number:0}}" style="height: {{(planeacion.meGusta / pg.grupo.alumnos.length)*100 | number:0}}%;" aria-valuenow="{{(planeacion.meGusta / pg.grupo.alumnos.length)*100 | number:0}}">{{(planeacion.meGusta / pg.grupo.alumnos.length)*100 | number:0}}%</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="col-xs-10">
								<dl class="dl-horizontal">
								  <dt>Apertura</dt>
								  <dd>{{planeacion.apertura}}</dd>
								</dl>
								<dl class="dl-horizontal">
								  <dt>Desarrollo</dt>
								  <dd>{{planeacion.desarrollo}}</dd>
								</dl>
								<dl class="dl-horizontal">
								  <dt>Actividades de cierre</dt>
								  <dd>{{planeacion.cierre}}</dd>
								</dl>
							</div>
						</div>
					</div>
					<ul class="links">
						<li>
							<a href="#" ng-click="pg.meGusta(planeacion)" ng-show="!pg.meGusto(planeacion)">{{planeacion.meGusta != 0 ? planeacion.meGusta : ''}} <i class="fa fa-thumbs-o-up" ></i> Me gusta {{pg.planeacion.meGusta}}</a>
							<span ng-show="pg.meGusto(planeacion)"><i class="fa fa-thumbs-o-up" ></i> Me gustó {{pg.planeacion.meGusta}}</span>
						</li>
						<li class="pull-right">
							<a href="#" ng-show="!pg.noMeGusto(planeacion)" ng-click="pg.noMeGusta(planeacion)">{{planeacion.noMeGusta != 0 ? planeacion.noMeGusta : ''}} <i class="fa fa-thumbs-o-down" ></i> No me gusta</a>
							<span ng-show="pg.noMeGusto(planeacion)"><i class="fa fa-thumbs-o-down" ></i> No me gustó {{pg.planeacion.meGusta}}</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>