<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Alumnos &gt; en SEP
		</h1>
	</div>
</div>
<br>
<button type="button" class="btn btn-primary" ng-click="a.getAlumnosReprobados()">Alumnos en SEP</button>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<caption>{{materia.materia.nombre}}</caption>
			<thead class="thead">
				<tr>
					<th class="text-center">No.</th>
					<th class="text-center">Nombre</th>
					<th class="text-center">Fecha Sep</th>
					<th class="text-center">Grupo</th>
					<th class="text-center">Plan de Estudios</th>

				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="inscripcion in a.alumnosSep">
					<td class="text-center">{{ $index + 1 }}</td>
					<td>{{inscripcion.alumno.profile.nombreCompleto}}</td>
					<td class="text-center">{{inscripcion.fechaSep | date : "dd-MM-yyyy"}}</td>
					<td class="text-center">{{inscripcion.grupo.nombre}}</td>
					<td class="text-center">{{inscripcion.planEstudio.descripcion}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>