<nav>
	<ul data-smart-menu>
    <li data-ui-sref-active="active">
      <a ui-sref="root.home" tilte="Inicio">
        <i class="fa fa-lg fa-fw fa-home"></i>
        <span class="menu-item-parent">Panel de Control</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
      <a ui-sref="root.dashboard" tilte="Dashboard">
        <i class="fa fa-lg fa-fw fa-dashboard"></i>
        <span class="menu-item-parent">Dashboard</span>
      </a>
    </li>
    <li data-ui-sref-active="active">
	    <a ui-sref="root.mensajes">
	      <i class="fa fa-lg fa-fw fa-commenting-o"></i>
	      <span class="menu-item-parent">Mensajes </span>
	      <span class="badge pull-right inbox-badge margin-right-13">{{ro.cantMensajes}}</span>
	    </a>
	  </li>
	</ul>
	<ul data-smart-menu>
    
	</ul>
</nav>